JWT_SECRET=test
JWT_EXPIRES_IN=1h
AUTH_DEFAULT_ROLE=registered
AUTH_VERIFIED_ROLE=registered
AUTH_UNVERIFIED_ROLE=unverified
AUTH_REQUIRE_EMAIL_VERIFICATION=true
AUTH_CODE_EXPIRES_IN=30m
AUTH_RECOVER_CODE_EXPIRES_IN=30m
AUTH_REFRESH_EXPIRES_IN=30d
AUTH_MAX_CODE_ATTEMPTS=5

DB_HOST=localhost
DB_PORT=6433
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres
DB_POOL_MIN=2
DB_POOL_MAX=2

DB_WRITE_HOST=localhost
DB_WRITE_PORT=6434
DB_WRITE_USER=postgres
DB_WRITE_PASSWORD=postgres
DB_WRITE_DATABASE=postgres
DB_WRITE_POOL_MIN=2
DB_WRITE_POOL_MAX=2

EMAIL_HOST=ships.trade
EMAIL_PORT=587
EMAIL_FROM=noreply@battlepro.com
EMAIL_USER=no-reply@ships.trade
EMAIL_PASSWORD=q
EMAIL_TLS_REJECTUNAUTH=false

SMS_PROVIDER=twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM=+15550000000

FILES_FOLDER=public/files

MINIO_ENDPOINT=minio.your-server.com
MINIO_PORT=9000
MINIO_USE_SSL=true
MINIO_ACCESS_KEY=Rq...p3
MINIO_SECRET_KEY=DD...Qa
MINIO_BUCKET_NAME=prod
